body {
    margin: 0;
    font-family: 'Poppins', sans-serif, Helvetica;
}

input {
    margin-left: 520px;
    margin-top: 480px;
    overflow-y: scroll;
}

button {
    cursor: pointer;   
}

#Command_holder {
    display: none;
}